body{

    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);

}

.calculator-box{

    width: 25rem;
    height: 30em;
    top: 50%;
    left: 50%;
    position: absolute;
    background-color: rgb(54, 54, 54);
    transform: translate(-50%,-50%);
    border-radius: 10%;

}

.table-align{

    width: 1em;
    padding: 0rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    border:1px;
    margin: 0;
}

.form button[type="button"]{

    background:black;
    border:none;
    color: wheat;
    margin-bottom:0;
    width: 4rem;
    height: 5rem;
    font-weight: 1000;
    font-size: 1.7rem;
    border-radius: 1rem;

}

.form input[type="text"]{

    width: 22rem;
    height: 4.2rem;
    margin-bottom: 1.1rem;
    border-radius: .4rem;
    border: none;
    text-align: left;
    font-size: 3rem;
    font-weight: 1000;
    color: black;

}
#equel button[type="button"]{

    height: 21rem;
    width:4rem;

}

.form button[type="button"]:hover{

    background:#a09d9d;
    color: black;

}